$backgroundColor: #DAE0E6;
$white: #ffffff;
$black: #000000;
$active: #0079D3;
$inactive: #F6F7F8;
$border: #CCCCCC;
$red:#ff0000;
$redSecondary: #f14e4e;
$grey:#979797;
$lightGrey: #e6e9f0;
$lighterGrey: #eef1f5;
